Source: paris-traceroute
Priority: extra
Maintainer: Paris Traceroute Team <paris-traceroute@googlegroups.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.4
Section: net
Homepage: http://www.paris-traceroute.net/
Vcs-Git: https://code.google.com/p/paris-traceroute.libparistraceroute/
Vcs-Browser: https://code.google.com/p/paris-traceroute/source/browse/?repo=libparistraceroute

Package: libparistraceroute-dev
Section: libdevel
Architecture: any
Depends: libparistraceroute1 (= ${binary:Version})
Description: network measurement tool library (development files)
 libparistraceroute is a library designed to simplify the process of
 creating advanced network measurement tools such as ping or
 traceroute through the use of custom probe packets.
 .
 This package contains the development files required to build programs
 against libparistraceroute.

Package: libparistraceroute1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: network measurement tool library
 libparistraceroute is a library designed to simplify the process of
 creating advanced network measurement tools such as ping or
 traceroute through the use of custom probe packets.

Package: paris-traceroute
Section: net
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 libparistraceroute1 (= ${binary:Version})
Description: multipath traceroute
 Paris traceroute is a new version of the well-known network diagnosis
 and measurement tool.  It addresses problems caused by load balancers
 with the initial implementation of traceroute.
