#Build

*.o
.DS_Store
*~
*.swp
*.so
*.a

#Makefile

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libparistraceroute/.deps/
libparistraceroute/config.h
libparistraceroute/stamp-h1
libparistraceroute/config.h.in
libtool
ltmain.sh
m4/
missing
paris-traceroute/.deps/

#Binary

libparistraceroute/test
paris-traceroute/paris-traceroute
